html, body {
    margin: 0;
    height: 396px;
    font-family: 'Istok Web', sans-serif;
    color: #444;
    background: #fff;
    border: 1px solid #575757;
    border-bottom-width: 4px;
}
form{
    margin: 0;
}
.header{
    height: 25px;
    background: linear-gradient(to bottom, #414141, #252525);
    border-bottom: 4px solid #575757
}
.content-wrapper{
    padding: 8px;
}

.main-title{
    font-weight:bold;
    font-size: 22px;
}
span.radio-set{
    font-weight: bold;
}
label.radio-set{
    display: block;
}
.lmod-options{
    padding-left: 20px;
    font-size: 13px;
}
.lmod-options span{
    font-weight: bold;
}
.lmod-options > div{
    margin: 8px 0;
}
.lmodpercent-display{
    text-align: center;
}
button.submit{
    margin-top: 15px;
    padding: 5px 14px;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    background: #c76a6a;
    border: 1px solid #BE6E6E;
    border-radius: 2px;
}